<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUFeedURL</key>
	<string>https://raw.githubusercontent.com/TrialMacApp/TrialMacApp/refs/heads/master/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>oTiGLXNfDHyP1UUuuupAmtn+9WpCF0nYoQdXOMzVVJY=</string>
	<key>Supported Apps</key>
	<array>
		<dict>
			<key>MAS</key>
			<false/>
			<key>anyVersion</key>
			<false/>
			<key>bundleId</key>
			<string>com.crystalidea.macsfancontrol</string>
			<key>name</key>
			<string>Macs Fan Control</string>
			<key>version</key>
			<string>1.5.16</string>
			<key>x86</key>
			<false/>
		</dict>
		<dict>
			<key>MAS</key>
			<false/>
			<key>anyVersion</key>
			<true/>
			<key>bundleId</key>
			<string>com.culturedcode.ThingsMac</string>
			<key>name</key>
			<string>Things3</string>
			<key>version</key>
			<string>3.19.6</string>
			<key>x86</key>
			<true/>
		</dict>
		<dict>
			<key>MAS</key>
			<true/>
			<key>anyVersion</key>
			<true/>
			<key>bundleId</key>
			<string>com.zzd.Xnip</string>
			<key>name</key>
			<string>Xnip</string>
			<key>version</key>
			<string>2.2.3</string>
			<key>x86</key>
			<true/>
		</dict>
		<dict>
			<key>MAS</key>
			<true/>
			<key>anyVersion</key>
			<true/>
			<key>bundleId</key>
			<string>com.panic.transmit.mas</string>
			<key>name</key>
			<string>Transmit</string>
			<key>version</key>
			<string>5.10.4</string>
			<key>x86</key>
			<true/>
		</dict>
		<dict>
			<key>MAS</key>
			<false/>
			<key>anyVersion</key>
			<true/>
			<key>bundleId</key>
			<string>com.drbuho.BuhoCleaner</string>
			<key>name</key>
			<string>BuhoCleaner</string>
			<key>version</key>
			<string>1.10.4</string>
			<key>x86</key>
			<true/>
		</dict>
		<dict>
			<key>MAS</key>
			<true/>
			<key>anyVersion</key>
			<false/>
			<key>bundleId</key>
			<string>net.shinyfrog.image2icon</string>
			<key>name</key>
			<string>Image2Icon</string>
			<key>version</key>
			<string>2.18</string>
			<key>x86</key>
			<false/>
		</dict>
		<dict>
			<key>MAS</key>
			<true/>
			<key>anyVersion</key>
			<false/>
			<key>bundleId</key>
			<string>org.filezilla-project.filezilla.sandbox</string>
			<key>name</key>
			<string>FileZilla Pro</string>
			<key>version</key>
			<string>3.66.5</string>
			<key>x86</key>
			<false/>
		</dict>
		<dict>
			<key>MAS</key>
			<true/>
			<key>anyVersion</key>
			<true/>
			<key>bundleId</key>
			<string>com.app.menubarx</string>
			<key>name</key>
			<string>MenubarX</string>
			<key>version</key>
			<string></string>
			<key>x86</key>
			<true/>
		</dict>
		<dict>
			<key>MAS</key>
			<true/>
			<key>anyVersion</key>
			<true/>
			<key>bundleId</key>
			<string>com.hankinsoft.osx.sqlprostudio</string>
			<key>name</key>
			<string>SQLPro Studio</string>
			<key>version</key>
			<string>2023.35</string>
			<key>x86</key>
			<true/>
		</dict>
		<dict>
			<key>MAS</key>
			<false/>
			<key>anyVersion</key>
			<false/>
			<key>bundleId</key>
			<string>com.vallettaventures.Texpad</string>
			<key>name</key>
			<string>Texifier</string>
			<key>version</key>
			<string>1.9.27</string>
			<key>x86</key>
			<false/>
		</dict>
		<dict>
			<key>MAS</key>
			<true/>
			<key>anyVersion</key>
			<true/>
			<key>bundleId</key>
			<string>com.bohemiancoding.sketch3.appstore</string>
			<key>name</key>
			<string>Sketch</string>
			<key>version</key>
			<string>100</string>
			<key>x86</key>
			<true/>
		</dict>
		<dict>
			<key>MAS</key>
			<true/>
			<key>anyVersion</key>
			<true/>
			<key>bundleId</key>
			<string>com.mac.utility.screen.recorder</string>
			<key>name</key>
			<string>Screen Recorder by Omi</string>
			<key>version</key>
			<string>1.3.8</string>
			<key>x86</key>
			<true/>
		</dict>
		<dict>
			<key>MAS</key>
			<false/>
			<key>anyVersion</key>
			<false/>
			<key>bundleId</key>
			<string>pl.maketheweb.cleanshotx</string>
			<key>name</key>
			<string>CleanShot X</string>
			<key>version</key>
			<string>4.7</string>
			<key>x86</key>
			<false/>
		</dict>
		<dict>
			<key>MAS</key>
			<false/>
			<key>anyVersion</key>
			<true/>
			<key>bundleId</key>
			<string>com.apphousekitchen.aldente-pro</string>
			<key>licenseCode</key>
			<string>TRIALMAC-APPS-HACK-FROM-TRIALMACAPPS</string>
			<key>licenseUser</key>
			<string>TrialMacApp@0.0.0.0.mac</string>
			<key>name</key>
			<string>Aldente Pro</string>
			<key>remark</key>
			<string>先执行注入，再去使用激活码激活</string>
			<key>version</key>
			<string>1.28.4</string>
			<key>x86</key>
			<true/>
		</dict>
		<dict>
			<key>MAS</key>
			<false/>
			<key>anyVersion</key>
			<false/>
			<key>bundleId</key>
			<string></string>
			<key>name</key>
			<string>Table Plus</string>
			<key>remark</key>
			<string>暂停支持</string>
			<key>version</key>
			<string>6.0.4</string>
			<key>x86</key>
			<false/>
		</dict>
		<dict>
			<key>MAS</key>
			<false/>
			<key>anyVersion</key>
			<true/>
			<key>bundleId</key>
			<string>co.brushedtype.doppler-macos</string>
			<key>name</key>
			<string>Doppler</string>
			<key>version</key>
			<string>2.1.21</string>
			<key>x86</key>
			<true/>
		</dict>
		<dict>
			<key>MAS</key>
			<true/>
			<key>anyVersion</key>
			<false/>
			<key>bundleId</key>
			<string></string>
			<key>name</key>
			<string>Text Scanner</string>
			<key>remark</key>
			<string>暂停支持</string>
			<key>version</key>
			<string>1.7.5</string>
			<key>x86</key>
			<false/>
		</dict>
		<dict>
			<key>MAS</key>
			<false/>
			<key>anyVersion</key>
			<true/>
			<key>bundleId</key>
			<string>com.eusoft.eudic</string>
			<key>name</key>
			<string>欧陆词典</string>
			<key>version</key>
			<string>4.6.6</string>
			<key>x86</key>
			<true/>
		</dict>
		<dict>
			<key>MAS</key>
			<false/>
			<key>anyVersion</key>
			<true/>
			<key>bundleId</key>
			<string>com.cazoobi.Blocs-5</string>
			<key>name</key>
			<string>Blocs</string>
			<key>version</key>
			<string></string>
			<key>x86</key>
			<true/>
		</dict>
		<dict>
			<key>MAS</key>
			<false/>
			<key>anyVersion</key>
			<true/>
			<key>bundleId</key>
			<string>com.fatcatsoftware.pledpro</string>
			<key>name</key>
			<string>PlistEdit Pro</string>
			<key>version</key>
			<string>1.9.7</string>
			<key>x86</key>
			<true/>
		</dict>
		<dict>
			<key>MAS</key>
			<false/>
			<key>anyVersion</key>
			<true/>
			<key>bundleId</key>
			<string>com.charliemonroe.Downie-4</string>
			<key>name</key>
			<string>Downie 4</string>
			<key>version</key>
			<string>4.7.2</string>
			<key>x86</key>
			<true/>
		</dict>
		<dict>
			<key>MAS</key>
			<false/>
			<key>anyVersion</key>
			<true/>
			<key>bundleId</key>
			<string>abnerworks.Typora</string>
			<key>name</key>
			<string>Typora</string>
			<key>version</key>
			<string>1.8.10</string>
			<key>x86</key>
			<true/>
		</dict>
		<dict>
			<key>MAS</key>
			<false/>
			<key>anyVersion</key>
			<false/>
			<key>bundleId</key>
			<string>ws.stash.app.mac</string>
			<key>name</key>
			<string>Stash</string>
			<key>version</key>
			<string>2.6.4</string>
			<key>x86</key>
			<false/>
		</dict>
		<dict>
			<key>MAS</key>
			<false/>
			<key>anyVersion</key>
			<false/>
			<key>bundleId</key>
			<string>com.nektony.App-Cleaner-SIII</string>
			<key>name</key>
			<string>App Cleaner</string>
			<key>version</key>
			<string>8.* - 8.4.3</string>
			<key>x86</key>
			<false/>
		</dict>
		<dict>
			<key>MAS</key>
			<true/>
			<key>anyVersion</key>
			<true/>
			<key>bundleId</key>
			<string>com.tumult.Hype4</string>
			<key>name</key>
			<string>Hype4</string>
			<key>version</key>
			<string>4.1.18</string>
			<key>x86</key>
			<true/>
		</dict>
		<dict>
			<key>MAS</key>
			<true/>
			<key>anyVersion</key>
			<true/>
			<key>bundleId</key>
			<string>com.firecore.infuse</string>
			<key>name</key>
			<string>Infuse</string>
			<key>version</key>
			<string>7.8.4860</string>
			<key>x86</key>
			<true/>
		</dict>
		<dict>
			<key>MAS</key>
			<false/>
			<key>anyVersion</key>
			<true/>
			<key>bundleId</key>
			<string>app.kaleidoscope.v4</string>
			<key>name</key>
			<string>Kaleidoscope</string>
			<key>version</key>
			<string>4.5.1</string>
			<key>x86</key>
			<true/>
		</dict>
		<dict>
			<key>MAS</key>
			<false/>
			<key>anyVersion</key>
			<true/>
			<key>bundleId</key>
			<string>com.pixelmatorteam.pixelmator.x.trial</string>
			<key>name</key>
			<string>Pixelmator Pro Trial</string>
			<key>version</key>
			<string>3.5.9</string>
			<key>x86</key>
			<true/>
		</dict>
		<dict>
			<key>MAS</key>
			<false/>
			<key>anyVersion</key>
			<false/>
			<key>bundleId</key>
			<string>com.proxyman.NSProxy</string>
			<key>name</key>
			<string>Proxyman</string>
			<key>version</key>
			<string>5.2.0</string>
			<key>x86</key>
			<false/>
		</dict>
		<dict>
			<key>MAS</key>
			<true/>
			<key>anyVersion</key>
			<false/>
			<key>bundleId</key>
			<string>tech.baye.servercat</string>
			<key>name</key>
			<string>ServerCat</string>
			<key>version</key>
			<string>1.12</string>
			<key>x86</key>
			<false/>
		</dict>
		<dict>
			<key>MAS</key>
			<true/>
			<key>anyVersion</key>
			<true/>
			<key>bundleId</key>
			<string>io.coressh.tunnel-direct</string>
			<key>name</key>
			<string>Core Tunnel</string>
			<key>version</key>
			<string>3.8.6</string>
			<key>x86</key>
			<true/>
		</dict>
		<dict>
			<key>MAS</key>
			<true/>
			<key>anyVersion</key>
			<true/>
			<key>bundleId</key>
			<string>com.navicat.NavicatPremium</string>
			<key>name</key>
			<string>Navicat Premium</string>
			<key>remark</key>
			<string>借鉴 Qiuchenly</string>
			<key>version</key>
			<string>17.0.6</string>
			<key>x86</key>
			<true/>
		</dict>
		<dict>
			<key>MAS</key>
			<false/>
			<key>anyVersion</key>
			<true/>
			<key>bundleId</key>
			<string>com.charliemonroe.Permute-3</string>
			<key>name</key>
			<string>Permute 3</string>
			<key>version</key>
			<string>3.11.10</string>
			<key>x86</key>
			<true/>
		</dict>
		<dict>
			<key>MAS</key>
			<false/>
			<key>anyVersion</key>
			<true/>
			<key>bundleId</key>
			<string>com.fuelcollective.eon</string>
			<key>name</key>
			<string>Eon</string>
			<key>version</key>
			<string>2.9.12</string>
			<key>x86</key>
			<true/>
		</dict>
		<dict>
			<key>MAS</key>
			<false/>
			<key>anyVersion</key>
			<true/>
			<key>bundleId</key>
			<string>com.charliemonroe.UctoX-2</string>
			<key>name</key>
			<string>UctoX 2</string>
			<key>version</key>
			<string>2.9.14</string>
			<key>x86</key>
			<true/>
		</dict>
		<dict>
			<key>MAS</key>
			<false/>
			<key>anyVersion</key>
			<true/>
			<key>bundleId</key>
			<string>com.charliemonroe.Rottenwood</string>
			<key>name</key>
			<string>Rottenwood</string>
			<key>version</key>
			<string>1.3</string>
			<key>x86</key>
			<true/>
		</dict>
		<dict>
			<key>MAS</key>
			<true/>
			<key>anyVersion</key>
			<true/>
			<key>bundleId</key>
			<string>app.judo.Judo</string>
			<key>name</key>
			<string>Judo</string>
			<key>remark</key>
			<string>免登录 有几个功能不能用</string>
			<key>version</key>
			<string>7.0.4</string>
			<key>x86</key>
			<true/>
		</dict>
		<dict>
			<key>MAS</key>
			<false/>
			<key>anyVersion</key>
			<true/>
			<key>bundleId</key>
			<string>com.araeliumgroup.querious</string>
			<key>name</key>
			<string>Querious</string>
			<key>version</key>
			<string>4.0.13</string>
			<key>x86</key>
			<true/>
		</dict>
		<dict>
			<key>MAS</key>
			<false/>
			<key>anyVersion</key>
			<true/>
			<key>bundleId</key>
			<string></string>
			<key>name</key>
			<string>ForkLift</string>
			<key>remark</key>
			<string>暂停支持</string>
			<key>version</key>
			<string>4.1.5</string>
			<key>x86</key>
			<true/>
		</dict>
		<dict>
			<key>MAS</key>
			<true/>
			<key>anyVersion</key>
			<false/>
			<key>bundleId</key>
			<string>com.macpaw.CleanMyMac-mas</string>
			<key>name</key>
			<string>CleanMyMac-MAS</string>
			<key>remark</key>
			<string>不包括状态栏按钮</string>
			<key>version</key>
			<string>4.*</string>
			<key>x86</key>
			<true/>
		</dict>
		<dict>
			<key>MAS</key>
			<false/>
			<key>anyVersion</key>
			<false/>
			<key>bundleId</key>
			<string>com.ittybittyapps.Reveal2</string>
			<key>name</key>
			<string>Reveal</string>
			<key>version</key>
			<string>49 (20463)</string>
			<key>x86</key>
			<false/>
		</dict>
		<dict>
			<key>MAS</key>
			<false/>
			<key>anyVersion</key>
			<true/>
			<key>bundleId</key>
			<string>com.houdah.HoudahSpot4</string>
			<key>name</key>
			<string>HoudahSpot</string>
			<key>version</key>
			<string>6.5.4</string>
			<key>x86</key>
			<true/>
		</dict>
		<dict>
			<key>MAS</key>
			<false/>
			<key>anyVersion</key>
			<true/>
			<key>bundleId</key>
			<string>BradJasper.focus</string>
			<key>name</key>
			<string>Focus</string>
			<key>remark</key>
			<string>https://heyfocus.com</string>
			<key>version</key>
			<string>2.0.8</string>
			<key>x86</key>
			<true/>
		</dict>
		<dict>
			<key>MAS</key>
			<true/>
			<key>anyVersion</key>
			<true/>
			<key>bundleId</key>
			<string>com.modelmakertools.simplemindmacstd</string>
			<key>name</key>
			<string>SimpleMind</string>
			<key>remark</key>
			<string>思维导图软件</string>
			<key>version</key>
			<string>2.4.1</string>
			<key>x86</key>
			<true/>
		</dict>
		<dict>
			<key>MAS</key>
			<true/>
			<key>anyVersion</key>
			<true/>
			<key>bundleId</key>
			<string>com.leshko.flap.mac</string>
			<key>name</key>
			<string>Flacbox</string>
			<key>remark</key>
			<string>音乐软件</string>
			<key>version</key>
			<string>5.8</string>
			<key>x86</key>
			<true/>
		</dict>
		<dict>
			<key>MAS</key>
			<true/>
			<key>anyVersion</key>
			<true/>
			<key>bundleId</key>
			<string>ah.pdf</string>
			<key>name</key>
			<string>PDF Editor</string>
			<key>remark</key>
			<string>https://apps.apple.com/gb/app/pdf-editor-for-adobe-pdf-file/id6469578160</string>
			<key>version</key>
			<string>1.4.2</string>
			<key>x86</key>
			<true/>
		</dict>
		<dict>
			<key>MAS</key>
			<false/>
			<key>anyVersion</key>
			<true/>
			<key>bundleId</key>
			<string>com.aschmid.notebooks2</string>
			<key>name</key>
			<string>Notebooks</string>
			<key>remark</key>
			<string>https://www.notebooksapp.com/mac/</string>
			<key>version</key>
			<string>3.6.1</string>
			<key>x86</key>
			<true/>
		</dict>
		<dict>
			<key>MAS</key>
			<false/>
			<key>anyVersion</key>
			<true/>
			<key>bundleId</key>
			<string>com.apple.FinalCutTrial</string>
			<key>name</key>
			<string>Final Cut Pro Trial</string>
			<key>remark</key>
			<string>每次打开都会提示购买，忽略就行</string>
			<key>version</key>
			<string>10.8.1</string>
			<key>x86</key>
			<true/>
		</dict>
		<dict>
			<key>MAS</key>
			<false/>
			<key>anyVersion</key>
			<false/>
			<key>bundleId</key>
			<string>app.mp3tag.Mp3tag</string>
			<key>name</key>
			<string>Mp3tag</string>
			<key>remark</key>
			<string>输入任意激活信息点激活</string>
			<key>version</key>
			<string>1.8.25</string>
			<key>x86</key>
			<false/>
		</dict>
		<dict>
			<key>MAS</key>
			<true/>
			<key>anyVersion</key>
			<true/>
			<key>bundleId</key>
			<string>com.ulyssesapp.mac</string>
			<key>name</key>
			<string>Ulysses</string>
			<key>version</key>
			<string>35.4</string>
			<key>x86</key>
			<true/>
		</dict>
		<dict>
			<key>MAS</key>
			<false/>
			<key>anyVersion</key>
			<true/>
			<key>bundleId</key>
			<string>com.apple.logic10</string>
			<key>name</key>
			<string>Logic Pro</string>
			<key>version</key>
			<string>11.0.1</string>
			<key>x86</key>
			<true/>
		</dict>
		<dict>
			<key>MAS</key>
			<true/>
			<key>anyVersion</key>
			<true/>
			<key>bundleId</key>
			<string>com.omi.utility.video.converter</string>
			<key>name</key>
			<string>即刻转换</string>
			<key>version</key>
			<string>1.3.1</string>
			<key>x86</key>
			<true/>
		</dict>
		<dict>
			<key>MAS</key>
			<true/>
			<key>anyVersion</key>
			<true/>
			<key>bundleId</key>
			<string>QReader.MarginStudy.easy</string>
			<key>name</key>
			<string>MarginNote 4</string>
			<key>remark</key>
			<string>GUI打开会有问题，自己程序坞内打开</string>
			<key>version</key>
			<string>4.1.8</string>
			<key>x86</key>
			<true/>
		</dict>
		<dict>
			<key>MAS</key>
			<true/>
			<key>anyVersion</key>
			<true/>
			<key>bundleId</key>
			<string>QReader.MarginStudyMac</string>
			<key>name</key>
			<string>MarginNote 3</string>
			<key>version</key>
			<string>3.7.29</string>
			<key>x86</key>
			<true/>
		</dict>
		<dict>
			<key>MAS</key>
			<false/>
			<key>anyVersion</key>
			<true/>
			<key>bundleId</key>
			<string>imagetasks.iStatistica-Pro</string>
			<key>name</key>
			<string>iStatistica Pro</string>
			<key>remark</key>
			<string>https://www.imagetasks.com/istatistica/pro</string>
			<key>version</key>
			<string>5.2</string>
			<key>x86</key>
			<true/>
		</dict>
		<dict>
			<key>MAS</key>
			<false/>
			<key>anyVersion</key>
			<true/>
			<key>bundleId</key>
			<string>com.massimobiolcati.irealbookmac</string>
			<key>name</key>
			<string>iReal Pro</string>
			<key>remark</key>
			<string>https://www.irealpro.com</string>
			<key>version</key>
			<string>2024.10</string>
			<key>x86</key>
			<true/>
		</dict>
		<dict>
			<key>MAS</key>
			<false/>
			<key>anyVersion</key>
			<true/>
			<key>bundleId</key>
			<string>io.fadel.MissionControlPlus</string>
			<key>name</key>
			<string>Mission Control Plus</string>
			<key>remark</key>
			<string>https://www.fadel.io/missioncontrolplus</string>
			<key>version</key>
			<string>1.24</string>
			<key>x86</key>
			<true/>
		</dict>
		<dict>
			<key>MAS</key>
			<false/>
			<key>anyVersion</key>
			<true/>
			<key>bundleId</key>
			<string>io.fadel.Tubbie</string>
			<key>name</key>
			<string>Tubbie</string>
			<key>remark</key>
			<string>https://www.fadel.io/tubbie</string>
			<key>version</key>
			<string>0.9.4</string>
			<key>x86</key>
			<true/>
		</dict>
		<dict>
			<key>MAS</key>
			<false/>
			<key>anyVersion</key>
			<true/>
			<key>bundleId</key>
			<string>io.fadel.Batteries</string>
			<key>name</key>
			<string>Batteries</string>
			<key>remark</key>
			<string>https://www.fadel.io/batteries</string>
			<key>version</key>
			<string>2.3.3</string>
			<key>x86</key>
			<true/>
		</dict>
		<dict>
			<key>MAS</key>
			<false/>
			<key>anyVersion</key>
			<true/>
			<key>bundleId</key>
			<string>studio.fireball.OneSwitch</string>
			<key>name</key>
			<string>One Switch</string>
			<key>remark</key>
			<string>https://fireball.studio/oneswitch</string>
			<key>version</key>
			<string>1.34.2</string>
			<key>x86</key>
			<true/>
		</dict>
		<dict>
			<key>MAS</key>
			<false/>
			<key>anyVersion</key>
			<true/>
			<key>bundleId</key>
			<string>studio.fireball.moment</string>
			<key>name</key>
			<string>Moment</string>
			<key>remark</key>
			<string>https://fireball.studio/moment</string>
			<key>version</key>
			<string>1.5.1</string>
			<key>x86</key>
			<true/>
		</dict>
		<dict>
			<key>MAS</key>
			<true/>
			<key>anyVersion</key>
			<true/>
			<key>bundleId</key>
			<string>com.microsoft.Excel</string>
			<key>name</key>
			<string>Microsoft Excel</string>
			<key>remark</key>
			<string>第一次打开可能会提示购买，只读模式打开一次后退出重开即可</string>
			<key>version</key>
			<string>16.92</string>
			<key>x86</key>
			<true/>
		</dict>
		<dict>
			<key>MAS</key>
			<true/>
			<key>anyVersion</key>
			<true/>
			<key>bundleId</key>
			<string>com.microsoft.Powerpoint</string>
			<key>name</key>
			<string>Microsoft PowerPoint</string>
			<key>remark</key>
			<string>第一次打开可能会提示购买，只读模式打开一次后退出重开即可</string>
			<key>version</key>
			<string>16.92</string>
			<key>x86</key>
			<true/>
		</dict>
		<dict>
			<key>MAS</key>
			<true/>
			<key>anyVersion</key>
			<true/>
			<key>bundleId</key>
			<string>com.microsoft.Word</string>
			<key>name</key>
			<string>Microsoft Word</string>
			<key>remark</key>
			<string>第一次打开可能会提示购买，只读模式打开一次后退出重开即可</string>
			<key>version</key>
			<string>16.92</string>
			<key>x86</key>
			<true/>
		</dict>
	</array>
	<key>UpdateLogs</key>
	<array>
		<dict>
			<key>content</key>
			<array>
				<string>添加配置文件</string>
			</array>
			<key>version</key>
			<string>1.2-18</string>
		</dict>
	</array>
</dict>
</plist>
